<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
    <h1> User App</h1> 
    <p> list of users</p>
</div>
<div>
    <button (click)="loadCardView()"  style='margin-right:16px' class="btn btn-secondary" value="Card View">
        <i class="fa-address-book"></i> Card View </button>
    <button (click)="loadListView()"  style='margin-right:16px' class="btn btn-secondary" value="List View">
        <i class="fa fa-align-justify"></i> List View </button>
</div>
<app-user></app-user>


