<form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Enter user id" name="userId" [(ngModel)]="userId">
                <button class="btn btn-success" type="submit" (click)="getUsersById()">Search</button>
              </form>


<!--
<hr>
<div class="container" >
                <div [ngSwitch]="parentData">
                        <span *ngSwitchCase="'card'"><app-grid></app-grid></span>
                        <span *ngSwitchCase="'list'"><app-list></app-list></span>
                        <span *ngSwitchCase="'add'"><app-adduser></app-adduser></span>
                </div>
                
</div>-->